body {
    background-color: #fff8dc; /* cream color */
  }
  
  header {
    background-color: #cf142b; /* Maryland flag red */
    color: #ffffff; /* white text */
  }
  
  footer {
    background-color: #0072bb; /* blue color */
    color: #ffffff; /* white text */
  }
  